.mainBody{
    width: 400px;
    height: 400px;
    background-color:gainsboro;
    border: 1.5px solid black;
}
.dispInp{
    margin: 10px;
    width:375px;
    height:40px;
    background-color:whitesmoke;
    /*border-radius: 15%;*/
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.mainGrid{
    display: grid;
    margin: 20px;
    height: 300px;
    grid-template-rows: repeat(4,50px);
    grid-template-columns: repeat(4,80px);
    gap: 10px;
    grid-template-columns: 4;
}
#one{
    grid-column: span 2;
    width: 100%;
    background-color: blue;
    color: white;
}
.calcButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border: 0.25px solid white;
    border-style: double;
    font-weight:500;
    cursor: pointer;
}
.calcButton[data-value="op"]
{
    color: blue;
}
